* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: orange;
  height: auto;
  width: auto;
  background-color: #2B2B2B;
}

/* .splashscreen {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  color: #ffab00;
  font-size: 400%;
} */

#splashscreen{
  display: block;
  background-color: #424242;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  color: #ffab00;
  font-size: 70px;
  font-weight: 300;
}

h1 {
  font-size: 60px;
}

.line {
  width: 80vw;
  border: 2px solid #fff;
}

.image {
  width: 26vw;
  height: 26vw;
  padding: 10px;
}

#main {
  display: none;
}

/* SEARCH */
.container{
    padding: 10%;
    text-align: center;
}
#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    width:100%;
    padding-right: 3px;
    padding-left: 15px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0;
}

#custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: absolute;
    right:0;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
    cursor: unset;
    z-index: 2;
}

.search-query:focus{
    z-index: 0;
}


/* MODAL MAP */
body, .modal-open .page-container, .modal-open .page-container .navbar-fixed-top, .modal-open .modal-container {
  overflow-y: scroll;
}
@media (max-width: 576px) {
  .modal-open .page-container .navbar-fixed-top {
    overflow-y: visible;
  }
}
#map-canvas {
  height: 50vh;
  width: 60vw;
  margin-bottom: 10px;
}
#modalTitle {
  font-weight: bold;
}
#typeModal {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
#descriptionModal {
  font-weight: bold;
}
